<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" type="text/css" href="/css/app.css" />

      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">

	<title>Netdio</title>

	<style type="text/css">
		input[type='range']::-webkit-slider-thumb {
      		width: 1.5rem;
      		-webkit-appearance: none;
      		height: 2.5rem;
      		cursor: pointer;
      		border-style: solid;
      		border-width: 2px;
      		border-color: #4A5E5C;
      		border-radius: 25%;
      		background: #8BB3AF;
      		box-shadow: -1800px 0 0 1790px #8BB3AF;
            }

            body {
                  font-family: 'Josefin Sans', sans-serif;
                  font-size: 22px;
            }
            
            .blue {
                  background: #ADDDD8;
            }
            .lightblue {
                  background: #ADDDD8;
            }

	</style>

</head>

	<script src="/jquery/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>

<body>

	<%- body %>

</body>

</html>