<!DOCTYPE html>
<html>
<head>

	<script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>

	<script src="/socket.io/socket.io.js"></script>

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="/css/app.css" />

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">

	<title>Template</title>

</head>

<body>

	<%- body %>

</body>

</html>