
<div class="hidden h-screen w-full bg-black opacity-80 absolute spinner text-white z-10">

	<span class="flex flex-col space-y-4">

		<p class="text-center mt-10 hidden"> Configuration received</p>

		<svg class="w-10 mt-10 mx-auto animate-spin" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
			<circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
			<path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
		</svg>

	</span>

</div>


<div class="flex items-center justify-center h-screen bg-blue-100 flex flex-col p-4 space-y-2">




<div class="w-full bg-white rounded shadow-lg flex  p-2 px-4 flex-col">
	<div class="justify-between flex w-full">
		<p>Devices:</p>
		<img id="routing-gear" class="w-6 cursor-pointer transform duration-500" onclick="toggleSettings('routing','routing-gear')" src="images/menu.svg"/>
	</div>
</div>
	<div id="routing" class="flex flex-row h-screen justify-between w-full space-x-2 hidden">

		<div class="flex rounded shadow-lg flex-col p-4 bg-white w-1/2">
			<h2 class="">Inputs: </h2>
			<ul id="inputs" class="h-full">

			</ul>
			
		</div>


		<div class="flex rounded shadow-lg flex-col p-4 bg-white w-1/2">
			<h2 class="">Destinations: </h2>
			<ul id="destinations" class="h-full">

			</ul>
		</div>

	</div>

	<div id="zone" class="flex flex-col h-screen w-full bg-white rounded shadow-lg p-2 px-4">
		<div class="justify-between flex w-full">
			<p>Zone Control:</p>
			<img id="reload" class="w-6 cursor-pointer" src="images/reload.svg"/>
		</div>

		<div class="h-full py-2">
			<ol id="zones" class="h-full flex flex-col">

			</ol>
		</div>
	</div>

</div>

<script type="text/javascript">
	loadHandlers()
	loading(true)

	var socket = io();

	function loading(isLoading) {
		if (isLoading) {
			document.querySelector(".spinner").classList.remove("hidden");

		} else {
			document.querySelector(".spinner").classList.add("hidden");
		}
	}

	function toggleSettings(id, button) {
		document.getElementById(id).classList.toggle("hidden")
		document.getElementById(button).classList.toggle("rotate-45")
		
		setTimeout( () => {
			document.getElementById(button).classList.toggle("rotate-45")
		},100)
	}

	function getInputAsOption(device){
		return $(`<option value="${device.source}" name="${device.ip}"/>`).text(device.name)
	}

	function createZone(zone) {
		
		var source = zone.source ? 'Input: ' + zone.source.name : 'Input: -Mute-'

		return	$(`<li id="${zone.ip}" class="bg-white shadow-lg border rounded flex flex-col p-2 m-2" />`).append(
            		$('<div class="flex flex-col space-y-2"/>').append(
              			$('<div class"w-full flex flex-row justify-between"/>').append(
              				$('<span class="font-bold" />').text(zone.name)
              			),
              			$(`<input type="range" class="w-full rounded-lg overflow-hidden appearance-none bg-blue-100 rounded-full" value="${zone.volume}" />`),
              			$(`<select class="rounded zoneinput" />`) .append(getInputAsOption({
              					name : "-Mute-",
              					source : "muted"
              				}), 
              				($('<option disabled selected/>').text(`${source}`))
              			)
            		)
        		)
	}

	function createDeviceLi(device) {

		return	$('<li id="'+ device.ip + '" class="bg-white shadow-lg border rounded flex flex-row p-2 my-2 md:space-x-2 justify-between sm:pr-6 md:pr-2 pr-4"/>').append(
					$('<div class="flex flex-row space-x-2"/>').append(
						$('<label />').text("Name: "),
						$(`<input type="text" class="w-full font-bold" name="${device.type}.name" value="${device.name}"/>`)
					),
					$('<div class="flex flex-row space-x-2"/>').append(
						$(`<button class="text-white rounded-full px-2 blue hidden sm:inline" value="true" name="blink"/>`).text("Blink"),
						$(`<img class="flex flex-row space-x-2 h-6 cursor-pointer" src="images/gear.svg" onclick="window.open('http://${device.ip}/config')"/>`)
					)
				)
	}

	// listens for devices
	socket.on("devices", (devices) => {
		$('#zones').html('')
		$('#destinations').html('')
		$('#inputs').html('')

		var rxDevices = []
		var txDevices = []
		
		for (device of devices) {
			if (device.rx) {
				var rx = device.rx
				rx.source = device.source
				rx.ip = device.device.ip
				rxDevices.push(rx)
			}
			if (device.tx) {
				var tx = device.tx
				tx.ip = device.device.ip
				txDevices.push(tx)
			}
		}
		
		for (rx of rxDevices) {
			var zone = createZone(rx)
			var li = createDeviceLi(rx)
			$('#zones').append(zone)
			$('#destinations').append(li)
		}
			
		for (tx of txDevices) {
			var li = createDeviceLi(tx)
			$('#inputs').append(li)
			$('.zoneinput').append(getInputAsOption(tx))
		}

		loadHandlers()
		loading(false)
		
	})
	


function loadHandlers(){

	$('select').on('change', function () {
		var message = {
			ip : this.closest('li').id,
			type : 'source', 
			value : {
				send: $('option:selected',this).attr('name'),
				socket: $('option:selected',this).val(),
				name: $('option:selected',this).text(),
				recv: this.closest('li').id
			}
		}

		socket.emit('forward', message)
	})

	$('input[type=range]').on('input', function () {
		var message = {
			ip : this.closest('li').id,
			type : 'volume', 
			value : this.value
		}

		socket.emit('forward', message)
	})
	$('input[type=text]').on('keyup', function () {

		var message = {
			ip : this.closest('li').id,
			type : this.name, 
			value : this.value
		}

		socket.emit('forward', message)
	})
	$('button').on('click', function () {

		var message = {
			ip : this.closest('li').id,
			type : this.name, 
			value : this.value
		}

		socket.emit('forward', message)
	})

	$('#reload').on('click' , function(){
		loading(true)
		socket.emit("restart")
		setTimeout( () => {
			location.reload()
		}, 1500)
	})

	$('#configure').on("click" , function() {
		loading(true)
		var config = {
			name : document.getElementById("unitName").value,
			ip : document.getElementById("ipAddress").value
		}
		socket.emit("config", config)
	})

	$('#restart').on("click" , function() {
		socket.emit("restart")
		loading(true)
	})

}

</script>