	<div id="availableServices" class="flex flex-col text-center w-full mx-auto bg-white rounded-lg p-2 border-2 shadow-md overflow-auto m-4">
		<p class="">Music Player</p>
		<img id="spotifyConnect" src="images/spotifylogo.png" class="mx-auto flex object-contain h-24 cursor-pointer">
		<img id="cloud" src="images/duckadocloud.png" class="mx-auto flex object-contain h-24 cursor-pointer">
	</div>

	<script type="text/javascript">

		$('#spotifyConnect').on("click" , async function() {

			let res = await fetch( 'startservice' , {
				method:'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({service: 'spotify'}) 
			})

			let message = await res.json()	

			message.successful ? location.href = message.url : alert('something went wrong')
		})

		$('#cloud').on("click" , async function() {

			let res = await fetch( 'startservice' , {
				method:'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({service: 'cloud'}) 
			})

			let message = await res.json()

			message.successful ? location.href = message.url : alert('something went wrong')
		})

	</script>