	<div id="availableServices" class="flex flex-col text-center w-full mx-auto bg-white rounded-lg p-2 border-2 shadow-md overflow-auto m-4">
		<p class="">Music Player</p>
		<img id="spotifyConnect" src="images/spotifylogo.png" class="mx-auto flex object-contain h-24 cursor-pointer">
		<img id="cloud" src="images/duckadocloud.png" class="mx-auto flex object-contain h-24 cursor-pointer">
	</div>

	<script type="text/javascript">

		$('#spotifyConnect').on("click" , async function() {

			location.href = '/spotify'
			
		})

		$('#cloud').on("click" , async function() {

		})

	</script>